<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <li>
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                <p>Precio: ${{price}}</p>
                <p>Stock: {{stock}}</p>
            </li>
        {{/each}}
    </ul>
</body>
</html>
